*{
    line-height: 1.2;
    font-family: 'Playfair Display', serif;
}
body {
    background-color: rgb(213, 185, 156, 0.5); /* 80% Deckkraft */
    font-family: 'Lora', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    color: #16464b;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

p {
    font-size: 1.1rem;
    margin: 0 0 1em 0;
    padding: 0;
    text-align: center;
}
/* Main und Footer: Anpassungen */
main {
    padding: 20px;
    border-radius: 8px; /* Abgerundete Kanten */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Schatten für Tiefe */
    display: flex;              /* Flexbox aktivieren */
    flex-direction: column;     /* Container untereinander anordnen */
    align-items: center;        /* Zentrieren der Container horizontal */
    justify-content: center;    /* Zentrieren der Container vertikal (optional) */
}


footer {
    border-radius: 8px;
    text-align: center; /* Zentrierter Text */
    margin-bottom: 40px;
    margin-top: 20px;
}

footer a {
    font-size: 1.2rem;
    text-decoration: none; /* Kein Unterstrich */
    font-weight: bold; /* Fetter Text */
    transition: color 0.3s ease;
    color: rgb(73,63,56,0.8);
    margin: 10px;
}

p a{

    text-decoration: none; /* Kein Unterstrich */
    font-weight: bold; /* Fetter Text */
    transition: color 0.3s ease;
    color: rgb(73,63,56,0.8);
}

p a:hover{
    color:  #d7ba9d; /* Hover-Farbe für Links */
    width: 90%;
}

footer a:hover {
    color:  #d7ba9d; /* Hover-Farbe für Links */
    width: 90%;
}

.defaultContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px; /* Abgerundete Ecken */
    line-height: 1.8; /* Verbesserte Lesbarkeit */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    background-color:rgb(175, 196, 196, 0.15);
    padding: 20px;


}

.defaultContainer ul {
    list-style: none;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    align-self: flex-start; /* Hebt das zentrierte align-items für ul auf */
    text-align: left;       /* Optional, falls Textzentrierung aktiv ist */
    margin-left: 20px;      /* Optional, um etwas Einzug zu geben */
}
.defaultContainer ul li {
    text-align: left;
}


.defaultContainer ul li::before {
    content: "🌿";  /* Yoga-Emoji */
    margin-right: 0.5rem;
}

.defaultContainer li{
    margin-bottom: 0.5rem;
}

.defaultContainer p {
    text-align: center;
}



.imageÜbermich{
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;

}

.container {
    text-align: center;
    padding: 20px;
}
.logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.logo-item {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #4a3f38;
}

.logo-item img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

.logo-item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.headline {
    position: relative;
    display: inline-block;
}

.headline::after {
    content: "";
    display: block;
    width: 40vw; /* 70% der gesamten Bildschirmbreite */
    height: 1px;
    background-color:#4a3f38;
    margin: 4px auto 0;
}

.imageDefaultContainer {
    margin: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

li{
    color: #16464b;
}

.copy{
    margin-top: 10px;
}

.socialMedia{
    display: flex;
    justify-content:center;
   align-items: center;


}
.socialMedia i{
    margin-right: 10px;
    font-size: 30px;
}
.logoIntro {
    text-align: center;
    margin: 30px 0;
}

.unterschrift{
    color: #16464b;
}

.logoIntro img {
    width: 100%;
    max-width: 400px; /* deutlich größer */
    //height: auto;
    border-radius: 12px; /* schöne, weiche Ecken */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* tiefer Schatten */
    border: 1px solid rgba(0, 0, 0, 0.1); /* optionaler, dezenter Rahmen */
}

.cardContainer{
    display: flex;
    flex-wrap: wrap; /* wichtig für Zeilenumbruch bei kleinen Bildschirmen */
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card{
    max-width: 300px;
    background: #4a3f38;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}
.moveIn{
    margin-left: 20px;
}
.card li{
    color: #ffffff;
    padding: 5px;
}
.card h4{
    color: #ffffff;
}

.card ul {
    padding: 0;
    margin: 0;
}
.card:hover{
    scale: 1.2;
}
.scroll-container {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 16px;

}

#scrollBtn {
    background-color: #16464b;
    color: white;
    border: none;
    padding: 12px 16px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: pulse 2s infinite;
    transition: background-color 0.3s ease;
}

#scrollBtn:hover {
    background-color: #16464b;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgb(55, 103, 23);
    }
    70% {
        transform: scale(1.05);
        box-shadow: 0 0 0 10px rgba(30, 144, 255, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(30, 144, 255, 0);
    }
}


.defaultContainer .info-block {
    width: 100%;
    background: rgb(74, 63, 56 , 0.3)
;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
}

.defaultContainer .info-block p {
    margin: 0;
}

.info-block a {
    color: #16464b;
    margin : 2px
}
#facebookBtn {
    display: inline-block;
    font-size: 34px;
    transition: transform 0.3s ease;
    color: #3b5998;
}

#facebookBtn:hover {
    transform: scale(1.1);
    cursor: pointer;
}
#instagramBtn {
    display: inline-block;
    font-size: 34px;
    transition: transform 0.3s ease;
    color: #9e2525;
}

#instagramBtn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.defaultForm{
    display: flex;
    flex-direction: column;
    background-color: rgb(144, 144, 144, 0.2);
    padding: 10px;
    margin-bottom: 20px;
}

.defaultForm__Submit{
    border: none;
    padding: 10px;
}
.defaultForm__Textarea{
    resize: none;
}
